<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../estilos/global.css">
  <link rel="stylesheet" href="../estilos/principal.css">

  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <title>Sorveterias</title>
</head>

<body>
  <header>
    <div style="display: flex; align-items: center; gap: 20px;">
      <i class="ph ph-arrow-left" style="font-size: 2rem;" onclick="history.back()"></i>
      <a href="../../" class="logo" style="color: inherit; text-decoration: none;">Visitei</a>
    </div>

    <a href="../novo" class="add-novo">Adicionar Novo</a>

    <div class="pesquisar">
      <input type="text" placeholder="Pesquisar">
    </div>
  </header>

  <nav>
    <a href="../restaurantes">restaurantes</a>
    <a href="../shoppings">shoppings</a>
    <a href="../sorveterias">sorveterias</a>
    <a href="../outros">outros</a>
  </nav>

  <main>
    <h1 class="titulo"></h1>

    <div class="cards"></div>
  </main>

  <script type="module" src="scripts.js"></script>
  <script src="../../utils/showDetails.js"></script>
</body>

</html>