<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../estilos/global.css">
  <link rel="stylesheet" href="estilo.css">

  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <title>Novo Passeio</title>
</head>

<body>
  <header>
    <i class="ph ph-arrow-left" style="font-size: 2rem;" onclick="window.location.href = '/index.html'"></i>
    <h2>Novo Passeio</h2>
  </header>

  <form action="../../controller/registrar.php">
    <div>
      <label>Título</label>
      <input type="text" name="titulo" required>
    </div>

    <div>
      <label>Descrição</label>
      <textarea name="descricao" id="" required></textarea>
    </div>

    <div class="data-categoria">
      <div>
        <label>Data</label>
        <input type="date" name="data" required>
      </div>
      <div>
        <label>Categoria</label>
        <select name="categoria">
          <option value="restaurantes">Restaurante</option>
          <option value="parques">Parques</option>
          <option value="sorvetes">Sorvete</option>
          <option value="outros">Outros</option>
        </select>
      </div>
    </div>

    <div>
      <label>Preço Total</label>
      <input type="text" id="telefone" placeholder="R$ 120,00" name="preco" required>
    </div>

    <div class="sel-imgs">
      <label>Imagens</label>
      <div>
        <div class="img1"></div>
        <div class="img2"></div>
        <div class="img3"></div>
      </div>
    </div>

    <div class="sessao-notas">

      <div>
        <label>Nota para o lugar</label>
        <div id="estrelas1" class="estrelas">
          <input type="radio" name="nota" id="starLugar5" value="5">
          <label for="starLugar5">
            <i class="ph-fill ph-star"></i>
          </label>

          <input type="radio" name="nota" id="starLugar4" value="4">
          <label for="starLugar4">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="nota" id="starLugar3" value="3">
          <label for="starLugar3">
            <i class="ph-fill ph-star"></i>
          </label>

          <input type="radio" name="nota" id="starLugar2" value="2">
          <label for="starLugar2">
            <i class="ph-fill ph-star"></i>
          </label>

          <input type="radio" name="nota" id="starLugar1" value="1">
          <label for="starLugar1">
            <i class="ph-fill ph-star"></i>
          </label>
        </div>
      </div>

      <div>
        <label>Nota para o preço</label>
        <div id="estrelas2" class="estrelas">
          <input type="radio" name="nota2" id="starPreco5" value="5">
          <label for="starPreco5">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="nota2" id="starPreco4" value="4">
          <label for="starPreco4">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="nota2" id="starPreco3" value="3">
          <label for="starPreco3">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="nota2" id="starPreco2" value="2">
          <label for="starPreco2">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="nota2" id="starPreco1" value="1">
          <label for="starPreco1">
            <i class="ph-fill ph-star"></i>
          </label>
        </div>
      </div>

      <div>
        <label>Nota para a logística</label>
        <div id="estrelas3" class="estrelas">
          <input type="radio" name="nota3" id="starLogi5" value="5">
          <label for="starLogi5">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="nota3" id="starLogi4" value="4">
          <label for="starLogi4">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="nota3" id="starLogi3" value="3">
          <label for="starLogi3">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="nota3" id="starLogi2" value="2">
          <label for="starLogi2">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="nota3" id="starLogi1" value="1">
          <label for="starLogi1">
            <i class="ph-fill ph-star"></i>
          </label>
        </div>
      </div>

      <div>
        <label>Media</label>
        <div id="estrelasMedia" class="estrelas">
          <input type="radio" name="media" id="starMedia5" value="5">
          <label for="starMedia5">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="media" id="starMedia4" value="4">
          <label for="starMedia4">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="media" id="starMedia3" value="3">
          <label for="starMedia3">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="media" id="starMedia2" value="2">
          <label for="starMedia2">
            <i class="ph-fill ph-star"></i>
          </label>
          <input type="radio" name="media" id="starMedia1" value="1">
          <label for="starMedia1">
            <i class="ph-fill ph-star"></i>
          </label>
        </div>
      </div>
    </div>

    <div>
      <label>O que ela achou?</label>
      <textarea name="comentDela" required></textarea>
    </div>
    <div>
      <label>O que ele achou?</label>
      <textarea name="comentDele" required></textarea>
    </div>

    <div class="acoes">
      <button type="reset" class="btn-limpar">
        <span>Limpar campos</span>
        <i class="ph-fill ph-trash"></i>
      </button>
      <button type="submit" class="btn-enviar">Adicionar novo</button>
    </div>
  </form>

  <script src="scripts.js"></script>
</body>

</html>